*.iml
.gradle
/local.properties

# IntelliJ
.idea/

.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties

# VSCode
.vscode

# OpenApi
internal/core/openapi/docs/
internal/core/openapi/.openapi-generator/
